<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    

        <!-- FOOTER -->
        <div id="layout-footer">
            <div id="layout-footer-top">
                <div class="Container50 NoIndent Responsive50"><a href="#" id="footer-logo">
                	<h:graphicImage name="gfx/tadmar.jpg" style="width:70px; height:auto;" /></a></div>
                <div class="EmptyBox10 ShowOnMobile"></div>
                <div class="Container50 NoIndent Responsive50"><span id="footer-info"></span></div>
            </div>
        </div>
</ui:composition>
