<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<div class="Container100 Responsive100 HoverEffect" style="padding:0px !important;">
    	<div class="Card ui-fluid BlueLeadenBack" style="padding:0px !important; ">
    		<i class="fa fa-usb Fs16 SoftGray DispBlock">
    			<span>  Dział: #{ADUsersAndGroupsCtrl.departmentName}</span>
    			<span class="Fs20" style="padding-left:30px;">  
    			<h:outputText value="#{ADUsersAndGroupsCtrl.groupAddInfo}" escape="false" />
    			</span>
    		</i>
    		<div class="EmptyBox5" />
    		<p:dataGrid id="idAdinfoPersonOfDepartemntListdg" value="#{ADUsersAndGroupsCtrl.adinfoPersonOfDepartemntList}" 
            	var="varAdinfoPersonOfDepartemntListDg" columns="5"  rows="18" 
            	paginator="true" paginatorPosition = "top"
             	paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="12,18, 24"  > 
                <p:panel style="text-align:center !important; ">
                	<f:facet name="header" >
		            	#{varAdinfoPersonOfDepartemntListDg.cn}      		
                	</f:facet>
                	<div class="EmptyBox5" />
                	<h:graphicImage value="#{varAdinfoPersonOfDepartemntListDg.notRetrieved}" style="height:100px; width:auto"  />  
                </p:panel>  		
    		</p:dataGrid>
    		<div class="EmptyBox10" />
   			<p:dataTable  id="idAdinfoPersonOfDepartemntListdt"
   				value="#{ADUsersAndGroupsCtrl.adinfoPersonOfDepartemntList}" 
   				var="varAdinfoPersonOfDepartemntListDt" widgetVar="wvarAdinfoPersonOfDepartemntListDt"
				rowKey="#{varAdinfoPersonOfDepartemntListDt.sAMAccountName}"
				paginator="true" rows="10"  paginatorPosition = "top"
        		paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
        		rowsPerPageTemplate="5,8,10,15"  tableStyle="table-layout:auto;" reflow="true"
				emptyMessage="Brak danych" >

    			<p:column headerText="Osoba" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.cn}"  />
				</p:column>	
    			<p:column headerText="Stanowisko" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.description}"  />
				</p:column>	
    			<p:column headerText="Biuro" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.physicalDeliveryOfficeName}"  />
				</p:column>	
    			<p:column headerText="Tel. mob" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.mobile}"  />
				</p:column>	
    			<p:column headerText="Telefon." style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.telephoneNumber}"  />
				</p:column>	
    			<p:column headerText="Dział" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.department}"  />
				</p:column>	
    			<p:column headerText="Menedżer" style="text-align: left;" >
					<h:outputText value="#{varAdinfoPersonOfDepartemntListDt.manager}"  />
				</p:column>	
    		</p:dataTable>
		</div>
	</div>
</ui:composition>