<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
		

	<p:dialog id="idCardDescriptionDlg" widgetVar="wvarCardDescriptionDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true" >
		<f:facet name="header" >
			Opis stanowiska
		</f:facet>
		<p:panel prependId="false" id="idCardDescriptionDlgPnl" style="width:400px; height:300px;">
		<p:selectOneMenu  value="#{ADUsersAndGroupsCtrl.jobPosDescription}" converter="omnifaces.SelectItemsConverter"
    			filter="true" filterMatchMode="contains"  >
        	<f:selectItem itemLabel="Nazwa stanowiska" noSelectionOption="true" />
            <f:selectItems value="#{ADUsersAndGroupsCtrl.jobPosList}" var="varJobPosList" 
            	itemLabel="#{varJobPosList.posname}" />
            <f:ajax render="selected_item"  />
            <p:ajax listener= "#{ADUsersAndGroupsCtrl.onUserDescriptionSelected}" 
            	update="idUserCard1" oncomplete="PF('wvarCardDescriptionDlg').hide();"/>
        </p:selectOneMenu>
        </p:panel>
	</p:dialog>
	<p:dialog id="idCardTitleDlg" widgetVar="wvarCardTitleDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true"  >
		<f:facet name="header" >
			Opis stanowiska
		</f:facet>
		<p:panel prependId="false" id="idCardTitleDlgPnl" style="width:400px; height:300px;">
		<p:selectOneMenu  value="#{ADUsersAndGroupsCtrl.jobPosTitle}" converter="omnifaces.SelectItemsConverter"
    			filter="true" filterMatchMode="contains"  >
        	<f:selectItem itemLabel="Nazwa stanowiska" noSelectionOption="true" />
            <f:selectItems value="#{ADUsersAndGroupsCtrl.jobPosList}" var="varJobPosList2" 
            	itemLabel="#{varJobPosList2.posname}" />
            <f:ajax render="selected_item"  />
            <p:ajax listener= "#{ADUsersAndGroupsCtrl.onUserTitleSelected}" 
            	update="idUserCard4" oncomplete="PF('wvarCardTitleDlg').hide();"/>
        </p:selectOneMenu>
		</p:panel>
	</p:dialog>
	<p:dialog id="idCardManagerDlg" widgetVar="wvarCardManagerDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true" >
		<f:facet name="header" >
			Opis stanowiska
		</f:facet>
		<p:panel prependId="false" id="idCardManagerDlgPnl" style="width:400px; height:300px;">
		<p:selectOneMenu  value="#{ADUsersAndGroupsCtrl.jobPosManager}" converter="omnifaces.SelectItemsConverter"
    			filter="true" filterMatchMode="contains"  >
        	<f:selectItem itemLabel="Menadźer" noSelectionOption="true" />
            <f:selectItems value="#{ADUsersAndGroupsCtrl.adinfoPersonGlobalList}" var="varAdinfoPersonGlobalList" 
            	itemLabel="#{varAdinfoPersonGlobalList.cn}" />
            <f:ajax render="selected_item"  />
            <p:ajax listener= "#{ADUsersAndGroupsCtrl.onUserManagerSelected}" 
            	update="idUserCard4" oncomplete="PF('wvarCardManagerDlg').hide();"/>
        </p:selectOneMenu>
		</p:panel>
	</p:dialog>
</ui:composition>