<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="BlueLeadenBack White " layout="grid" >
		<p:outputLabel value="Ulica" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.streetAddress}"  />
		<p:outputLabel value="Skr. poczt" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.postOfficeBox}"  />
		<p:outputLabel value="Miasto" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.l}"  />
		<p:outputLabel value="Kod pocztowy" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.postalCode}"  />
		<p:outputLabel value="Kraj" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.co}"  />

	</p:panelGrid>
</ui:composition>