<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="BlueLeadenBack White " layout="grid" 
			id="idUserCard4" >
		<p:outputLabel value="Stanowisko" styleClass="SoftGray" />
		<p:panel prependId="false" style="border:none;">
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.title}" disabled="true" style="width:83% !important"/>
		<p:commandButton icon="fa fa-edit" styleClass="White " style="width:15% !important; min-width:12px !important;" 
			oncomplete="PF('wvarCardTitleDlg').show();"/>
		</p:panel>
		<p:outputLabel value="Dział" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.department}" disabled="true" />
		<p:outputLabel value="Firma" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.company}" disabled="true" />
		<p:outputLabel value="Menedźer" styleClass="SoftGray" />
		<p:panel prependId="false" style="border:none;">
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.manager}" disabled="true" style="width:83% !important"/>
		<p:commandButton icon="fa fa-edit" styleClass="White " style="width:15% !important; min-width:12px !important;" 
			oncomplete="PF('wvarCardManagerDlg').show();"/>
		</p:panel>
		<p:outputLabel value="Podwładni" styleClass="SoftGray" />
		<p:inputTextarea value="#{ADUsersAndGroupsCtrl.adinfo.directReports}"  rows="5" autoResize="false" disabled="true" />
	</p:panelGrid>
</ui:composition>