<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="BlueLeadenBack White " 
		id="idUserCard1" layout="grid" >
		<p:outputLabel value="Imię" styleClass="SoftGray"/>
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.givenName}"  disabled="true" />
		<p:outputLabel value="Inicjały" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.initials}"  disabled="true" />
		<p:outputLabel value="Nazwisko" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.sn}"  disabled="true"/>
		<p:outputLabel value="Nazwa" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.displayName}"  disabled="true" />
		<p:outputLabel value="Opis" styleClass="SoftGray" />
		<p:panel prependId="false" style="border:none;">
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.description}"  disabled="true" style="width:83% !important" 
			/>
		<p:commandButton icon="fa fa-edit" styleClass="White Fright" style="width:15% !important; min-width:12px !important;"
			oncomplete="PF('wvarCardDescriptionDlg').show();"/>
		</p:panel>
		<p:outputLabel value="Biuro" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.physicalDeliveryOfficeName}" />
		<p:outputLabel value="Nr telefonu" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.telephoneNumber}" />
		<p:outputLabel value="Adres e-mail" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.mail}" disabled="true"/>
		<p:outputLabel value="Strona Web" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.wWWHomepage}" />
	</p:panelGrid>
</ui:composition>