<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



	<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="BlueLeadenBack White " layout="grid" >
		<p:outputLabel value="Dom" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.otherTelephone}"  />
		<p:outputLabel value="Pager" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.pager}"  />
		<p:outputLabel value="Komórkowy" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.mobile}"  />
		<p:outputLabel value="Faks" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.facsimileTelephoneNumber}"  />
		<p:outputLabel value="Telefon IP" styleClass="SoftGray" />
		<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.telephoneAssistant}"  />
	</p:panelGrid>
</ui:composition>