<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
		
	<div class="EmptyBox5" />
	<div class="Card BlueLeadenBack">
		<p:selectOneMenu  value="#{ADUsersAndGroupsCtrl.adinfoPersonGlobalSelected}" converter="omnifaces.SelectItemsConverter"
    			filter="true" filterMatchMode="contains" height="240" style="width:75%;" >
        	<f:selectItem itemLabel="Osoba" noSelectionOption="true" />
            <f:selectItems value="#{ADUsersAndGroupsCtrl.adinfoPersonGlobalList}" var="varAdinfoPersonGlobalList" 
            	itemLabel="#{varAdinfoPersonGlobalList.cn}" />
            <f:ajax render="selected_item"  />
            <p:ajax listener= "#{ADUsersAndGroupsCtrl.onUserSelected}" 
            	update="idUserPanel idGroupPanel" />
        </p:selectOneMenu>
		<div class="EmptyBox5" />
		<div class="Separator" />
       	<p:inputText value="#{ADUsersAndGroupsCtrl.adinfo.sAMAccountName}" disable="true" />
		<div class="EmptyBox10" />
		<h:graphicImage value="#{ADUsersAndGroupsCtrl.adinfo.notRetrieved}" style="width:100px; height:auto;"  />  
	</div>
	<p:dialog id="idCard0AttachDlg" widgetVar="wvarCard0AttachDlg" responsive="true" resizable="true" 
		fitViewport="true" closeOnEscape="true" >
		<f:facet name="header" >
			Zmiana foto
		</f:facet>
		<ui:include src="ADUserCard0Attach.xhtml"></ui:include> 			
	</p:dialog>
</ui:composition>