.PortalMenuButton .ui-button-text {
  background-color: #ffffff !important;
  color: #000000 !important;
  text-align: left;
  font-size:11px !important;
  padding : 2px 20px 2px 20px !important;
}
.PortalMenuButton.ui-state-hover .ui-button-text,
.PortalMenuButton.ui-state-focus .ui-button-text {
  background-color: #ECEFF1 !important;
}
.PortalMenuButton.ui-state-active .ui-button-text {
  background-color: #ECEFF1 !important;
}



.ui-tabs-top .ui-tabs-nav {
	background-color : #2C424E !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	background-color : #2C424E !important;
}
.ui-panel {
	background-color: #597E96 !important;
}
.ui-panel .ui-panel-titlebar {
	background-color : #597E96 !important;
	color: #FFFFFF;
	font-size:12px !important;
}
.ui-dialog .ui-dialog-titlebar {
	color : #597E96 !important;
	background-color: #FFFFFF;
}
.ui-datalist {
	background-color : transparent !important;
	border :none !important;
}
.ui-datalist .ui-paginator-top {
	background-color: #597E96;
}
.ui-datalist .ui-paginator-bottom {
	background-color: #597E96;
}
.ui-button-text {
  background-color: #264B63 ;
}
.ui-button.ui-state-hover .ui-button-text {
  background-color: #40657D ;
}
.ui-button.ui-state-active .ui-button-text {
  background-color: #0D324A ;
}
.ui-datatable table tbody tr td {
	color: #0D324A ;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
	color: #0D324A ;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity:0.85;
}

.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active a, .ui-tabs-top .ui-tabs-nav li.ui-state-hover a {
    color: #9D1530 !important;
}
.ui-selectonemenu-panel .ui-state-highlight, .ui-selectcheckboxmenu-panel .ui-state-highlight {
    color: #fff !important;
    background-color: #9D1530;
}
.ui-datagrid .ui-paginator .ui-state-active, .ui-datagrid .ui-paginator .ui-state-hover, .ui-datagrid .ui-paginator .ui-paginator-pages .ui-state-active, .ui-datagrid 
	.ui-paginator .ui-paginator-pages .ui-state-hover{
   	color: #9D1530 !important;
	border-bottom: solid 1px #9D1530;	
}


.ui-dialog .ui-dialog-content {
	padding:5px !important;
}
.ui-datalist .ui-datalist-content .ui-datalist-data {
	padding-top : 1px;
	padding-bottom :1px;
	padding-right : 1px;
}

.ui-datalist .ui-datalist-item {
	padding-top : 0px;
	padding-bottom :0px;
}
.ui-overlaypanel .ui-overlaypanel-content {
	padding: 4px !important;
}
.ui-panel .ui-panel-content {
	padding: 0px !important;
}
.ui-inputfield {
	font-size:12px !important
}
.ui-outputlabel {
	font-size:12px !important
}
.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
	font-size:12px !important
}
.ui-growl-item-container {
	padding: 0px;
}
.SeparatorDot5 {
  border-bottom: dashed 1px #cccccc;
  width: 100%;
  overflow: hidden;
  height: 0px;
  margin: 5px 0px;
  clear: both;
}
.Separator5 {
  border-bottom: solid 1px #cccccc;
  width: 100%;
  overflow: hidden;
  height: 0px;
  margin: 5px 0px;
  clear: both;
}

.SeparatorDotFull {
  border-bottom: dashed 1px #cccccc;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 15px -25px;
  clear: both;
}
.BlueLeadenBack {
  background-color: #597E96 !important;
}
.BlueLeaden {
  color: #597E96 !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width:1.2em;
	height:1.2em;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 0.7em !important;
}
.ui-datepicker {
	width: 10.5em;
}
.ui-datepicker table {
	font-size:0.6em;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 1.3em;
}